description = "Main gallery content"

[viewBag]
==
<article class="thumb">
	<a href="{{ 'assets/images/fulls/01.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/01.jpg'|theme }}" alt="" /></a>
	<h2>Magna feugiat lorem</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/02.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/02.jpg'|theme }}" alt="" /></a>
	<h2>Nisl adipiscing</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/03.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/03.jpg'|theme }}" alt="" /></a>
	<h2>Tempus aliquam veroeros</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/04.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/04.jpg'|theme }}" alt="" /></a>
	<h2>Aliquam ipsum sed dolore</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/05.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/05.jpg'|theme }}" alt="" /></a>
	<h2>Cursis aliquam nisl</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/06.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/06.jpg'|theme }}" alt="" /></a>
	<h2>Sed consequat phasellus</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/07.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/07.jpg'|theme }}" alt="" /></a>
	<h2>Mauris id tellus arcu</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/08.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/08.jpg'|theme }}" alt="" /></a>
	<h2>Nunc vehicula id nulla</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/09.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/09.jpg'|theme }}" alt="" /></a>
	<h2>Neque et faucibus viverra</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/10.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/10.jpg'|theme }}" alt="" /></a>
	<h2>Mattis ante fermentum</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/11.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/11.jpg'|theme }}" alt="" /></a>
	<h2>Sed ac elementum arcu</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>
<article class="thumb">
	<a href="{{ 'assets/images/fulls/12.jpg'|theme }}" class="image"><img src="{{ 'assets/images/thumbs/12.jpg'|theme }}" alt="" /></a>
	<h2>Vehicula id nulla dignissim</h2>
	<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
</article>